name: Github Actions 실행시켜보기

on:
  push:
    branches:
      - main
env:
  NAME: kosa
  USERNAME: kosa
  USER_PASSWORD: ${{ secrets.USER_PASSWORD }}

jobs: 
  My-Deploy-Job: ...

  My-Deploy-Job2:
    needs: my-build-job
    name: 배포 작업
    runs-on: self-hosted

    steps:
    - name: 배포 작업 1단계 파일 생성
      run: echo "Hello World" > output.txt     
                
